<!DOCTYPE html>
<html>
  <head>
    <% include ../partes/head %>
  </head>
  <body>

    <header>
          <% include ../partes/header %>
    </header>

    <div id="login">
      Matrícula:<br>
      <input type="text" name="matricula" value=""><br>
      Senha:<br>
      <input type="password" name="senha" value="">
    </div>

    <footer>
        <% include ../partes/footer %>
    </footer>

  </body>
</html>
