<html lang="pt" ng-app="sistEscolar">
<head>
    <% include ../partes/head %>
</head>
<body>
    <div class="all ">
        <div class="topo row ">
             <header>
                <% include ../partes/topmenu.ejs %>
             </header>
        </div>
        <div class="container-fluid">
          <div class="row-fluid">
              <div class="Lmenu col-md-2">
                  <% include ../partes/sidemenu.ejs %>
              </div>

<!--
                    <div id="turmasTop">  Turmas      </div>
                    <div id="turmas">
                        <div class="turmaXinfo">
                          Aqui entram as informações, lembretes da turma...
                        </div>
                        <div class="turmaXbuttom">   Botão                        </div>
                        <div class="turmaXfundo">
                          Sei lá
                        </div>

                    </div>
                  </div>
                -->
              </main>
          </div>
        </div>

        <div class="footer">
            <footer>
                <% include ../partes/footer %>
            </footer>
        </div>
    </div>
</body>

</html>
