<html lang="pt" ng-app="sistEscolar">
<head>
  <% include ../partes/head %>


  <script>
  $(document).ready(function(){
    $("#obj").hide();
    $("#d").click(function(){
      $("#obj").hide();
      $("#nlinhas").show();
    });
    $("#o").click(function(){
      $("#nlinhas").hide();
      $("#obj").show();
    });
  });
  </script>

</head>
<body>
  <div class="all ">
    <div class="topo row ">
      <header>
        <% include ../partes/topmenu.ejs %>
      </header>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="Lmenu col-md-2">
          <% include ../partes/sidemenu.ejs %>
        </div>
        <div class="content col-md-10">
          <main>
            <form method="post" action="veremos">
              <p id="autor" >Professor : </p>
              <p> Ano:
                <select nome="anoserie">
                  <option>1° ano</option>
                  <option>2° ano</option>
                  <option>3° ano</option>
                </select>
              </p>
              <p> Disciplina:
                <select nome="disciplina">
                  <option></option>
                </select>
              </p>
              <table border="5">
                dinamisar isso aqui
                <tr><td> Autor</td><td> Questao</td><td> resposta</td><td> 4° campo</td></tr>
                <tr><td> 1° campo</td><td> 2° campo</td><td> 3° campo</td><td> 4° campo</td></tr>
                <tr><td> 1° campo</td><td> 2° campo</td><td> 3° campo</td><td> 4° campo</td></tr>
              </table>

            </form>
          </main>
        </div>

        <div class="footer">
          <footer>
            <% include ../partes/footer %>
          </footer>
        </div>
      </div>
    </body>

    </html>
