<html lang="pt" ng-app="sistEscolar">
<head>
  <% include ../partes/head %>


  <script>
  $(document).ready(function(){
    $("#obj").hide();
    $("#d").click(function(){
      $("#obj").hide();
      $("#nlinhas").show();
    });
    $("#o").click(function(){
      $("#nlinhas").hide();
      $("#obj").show();
    });
  });
  </script>

</head>
<body>
  <div class="all ">
    <div class="topo row ">
      <header>
        <% include ../partes/topmenu.ejs %>
      </header>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="Lmenu col-md-2">
          <% include ../partes/sidemenu.ejs %>
        </div>
        <div class="content col-md-10">
          <main>
            <div class="form">
              <h2>Cadastro de Questões</h2>
              <form method="post" action="">
                <div>
                  <p>Autor: <input type="text" name="autor" value="">
                    Tornar questão:
                    Publica <input type="radio" name="direitos" value="pub" checked>
                    Privada <input type="radio" name="direitos" value="pri">
                  </p>
                </div>
                <p> Ano de criação: <input type="date" name="anocriacao" value="">
                  <div><p>Questão :
                    Discurciva <input id="d" type="radio" name="tipo" value="d" onclick checked>
                    Objetiva <input id="o" type="radio" name="tipo" value="o">
                  </p>
                </div>
                <div><p>Dificuldade:
                  fácil <input type="radio" name="nivel" value="f" checked>
                  média <input type="radio" name="nivel" value="m">
                  difícil <input type="radio" name="nivel" value="dificil">
                </p>
              </div>
            <p>Disciplina:
              <select name="disciplina" value="" required>
                <option >renen</option>
                <option >renen</option>
                <option selected>lindo</option>
                <option >renen</option>
              </select>
            </p>
            <p>Matéria:
              <select name="materia" required>
                <option >renen</option>
                <option >renen</option>
                <option selected>o la em casa</option>
                <option >renen</option>
              </select>
            </p>
            <p>Enunciado: </p>
            <p><textarea name="enunciado" rows="5" cols="60" value="" placeholder="exemplo: Qual a resposta pra vida universo e tudo mais?" required></textarea></p>
            <p>Numero de linhas para resposta: <input id="nlinhas" type="nunber" name="nlinhas" value="5" max="20">
              <p>Gabatiro: </p>
              <p><textarea name="enunciado" rows="5" cols="60" value="" placeholder="exemplo: Resposta, 42 "></textarea></p>
              <div id="obj">
                <h3>Objetivas</h3>
                <p>Opção A: </p>
                <p><textarea name="op1" rows="2" cols="60" value="" placeholder="exemplo: 42 é só um numero"></textarea></p>
                <p>Opção B: </p>
                <p><textarea name="op2" rows="2" cols="60" value="" placeholder="exemplo: Dolgas tem parafusos de menos "></textarea></p>
                <p>Opção C: </p>
                <p><textarea name="op3" rows="2" cols="60" value="" placeholder="exemplo: POP "></textarea></p>
                <p>Opção D: </p>
                <p><textarea name="op4" rows="2" cols="60" value="" placeholder="exemplo: Seres pandimencionais e inteligentes"></textarea></p>
                <p>Opção E: </p>
                <p><textarea name="op5" rows="2" cols="60" value="" placeholder="exemplo: A vida "></textarea></p>
              </div>

              <input type="submit" value="Cadastrar">
              <form>
              </div>
            </main>
          </div>
        </div>

        <div class="footer">
          <footer>
            <% include ../partes/footer %>
          </footer>
        </div>
      </div>
    </body>

    </html>
