<nav class="navbar " role="navigation">
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <a href="#"> <i class="fa fa-fw fa-plus"></i>&nbsp &nbsp CRIAR </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
        </li>
        <li>
            <a href="/"> <i class="fa fa-fw fa-home"></i>&nbsp &nbsp INÍCIO</a>
        </li>
        <li>
            <a href="#"> <i class="fa fa-calendar"></i>&nbsp &nbsp &nbsp CALENDARIO</a>
        </li>
        <li>
            <a href="#"> <i class="fa fa-book"></i>&nbsp &nbsp &nbsp DIARIO</a>
        </li>

        <li>
            <a href="#"> <i class="fa fa-fw fa-folder"></i> &nbsp &nbsp ARQUIVOS</a>
        </li>



    </ul>
</nav>
