<div id="topMenu">
  <div id="divLogo">
    <img src="http://3.bp.blogspot.com/-Vu_Eh3wGFFQ/VZExgiSzgrI/AAAAAAAACVw/kArVYwT5p6M/s1600/logo_cp2.png" alt="CP2" align="center" height="44" width="55"/>
  </div>
  <div id="divCP2">
    Colégio Pedro II
  </div>

  <div id="metadeDireita">

    <div id="User">
      <i class="fa fa-user fa-2x"></i>
       &nbsp Nome_do_Professor
    </div>
    <div class="naMetadeDireita">
       <a href="#">
      <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="naMetadeDireita">
      <a href="#">
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
  </a>
    </div>
    <div class="naMetadeDireita">
     <a href="#">
       <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </a>

    </div>

  </div>
</div>
